/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
#preloader {background-color: #FFFFFF;bottom: 0;left: 0;position: fixed;right: 0;top: 0;z-index: 2147483647;}
#status {background-image: url("image/01-Preloader.GIF");background-position: center center;background-repeat: no-repeat;height:50px;
left: 50%;top: 50%;position: absolute;width:50px;margin: -25px 0 0 -25px;}
h1, h2, h3, h4, h5, h6 {text-rendering: optimizeLegibility;font-weight:normal;text-transform: uppercase;-webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;-o-transition:  all 0.3s ease-in-out 0s;transition: all 0.3s ease-in-out 0s;}
h1 {font-size: 48px;line-height: 52px;}
    .max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
h2 {font-size: 32px;line-height: 40px;}
h3 {font-size: 28px;font-style: italic;line-height: 36px;margin: 4px 0 0;padding: 0;text-align: center;
    text-transform: none;}
h4,h5 {
  font-size: 1.125em; }
h6 {
    font-size: 14px;
   
    line-height: 50px;
    padding: 0 15px;
	color:#fff;
  }
.nav-bar {
    position: fixed;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 0;
    z-index: 1;
    transition: all 0.9s ease;
}
.sticky {
    background: rgba(49, 54, 61, 0.7);
    transition: all 0.9s ease;
    padding-block: 10px;
}
.nav-bar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar .nav-bar-menu li {
    list-style-type: none;
    display: inline-block;
    
}
.nav-bar .nav-button {
    display: none;
}
.nav-bar .max-width .logo a {
    font-size: 30px;
    text-decoration: none;
    color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    transition: all 0.3s linear;
}
.nav-bar ul li a {
    display: block;
    color: #EEEEEE;
    padding-inline: 10px;
    text-decoration: none;
    font-size: 20px;  
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-left: 50px;
    transition: all 0.3s linear;
}
.nav-bar li a:hover {
    color:#F8A488;
}
.nav-bar .max-width .logo a:hover {
    color: #F8A488;
}
.nav-bar .max-width .logo span {
    color:#00ADB5;
}
.home {
    display: flex;
    /* background-image:  */
    /* linear-gradient(rgba(255, 255, 255, 0.3), rgba(47, 240, 247, 0.3)), */
    /* url('image/video.mp4'); */
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 1vh; 
    min-height: 500px;
    max-height: 720px;
    background-attachment: fixed;
    justify-content: center;
    text-align: center;
}
.home .home-content{
    color:  #EEEEEE;
    margin-bottom: 40px;
    margin-left: 10px;
}
.home .home-content .fadeInUp1 {
    font-weight: 600;
    font-size: 42px;
    font-family: 'PT Sans',sans-serif;
}
.home .home-content .fadeInUp2 {
    font-weight: 400;
    font-size: 16px;
    font-family: 'PT Sans',sans-serif;
    line-height: 5;
}
/* .home .home-content .text-1 {
    font-size: 30px;
}
.home .home-content .text-2 {
    font-size: 60px;
    margin-left: -3px;
    font-weight: 600;
}
.home .home-content .text-3 {
    font-size: 30px;
} */
.home .home-content .smooth-scroll, .skills .skills-content a, .contact .contact-content .right button {
    display: inline-block;
    font-size: 18px;
    background-color: #00ADB5;
    color: #fff;
    font-weight: bold;
    padding: 12px 30px;
    margin-top: 40px;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s 
    linear;
    border: none;
}

.home video { 
  position:fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  height: 150vh;
  background-attachment: fixed;
}
.home .home-content .smooth-scroll:hover, .skills .skills-content a:hover {
    background-color:  hsl(15, 89%, 75%);
}
.home .max-width {
    margin: auto 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about {
    display: flex;
    background:
    linear-gradient(hsla(180, 9%, 66%, 0.651), rgb(253, 253, 253)),
    url(image/pexels-fauxels-3184450.jpg);
    height: 100vh;
    padding-bottom: 50px;
    background-size:cover;
    background-repeat: no-repeat;
 
   
}
.about .title{
    text-align: right;
    font-size: 42px;
    text-decoration:overline;
    font-weight: 600;
    padding: 30px;
    /* color:rgb(13, 69, 77); */
    /* font-family: 'Red Hat Display'; */
    background: url(image/pexels-kevin-ku-577585.jpg);
    background-size: 40%;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0.08);
    animation: zoomout 10s ease 500ms forwards infinite;
}
@keyframes zoomout {
    from {
      background-size: 40%;
    }
    to {
      background-size: 10%;
    }
}
.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .column-left {
    width: 50%;
    display: flex;
    justify-content: center;
    
}
.about .about-content img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 55px;
}
.about .about-content .column-right {
    width: 50%; 
   
}
.about .about-content .column-right p {
    font-size: 20px;
    text-align: justify;
    line-height: 1.3;
}
.about .about-content .column-right h2 {
    color:rgb(13, 69, 77);
    font-weight: 600;
    margin-block: 10px;
    line-height: 2;
    text-decoration:underline;
}
.services {
    display: flex;
    padding: 20px 70px;
    /* height: 100vh; */
    margin: 0 auto;
    background-image: 
    /* linear-gradient(rgba(255, 255, 255, 0.3), rgba(47, 240, 247, 0.3)), */
    url('image/pexels-tima-miroshnichenko-5380591.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}
.services .title {
    text-align: center;
    font-size: 42px;
    text-decoration:underline;
    font-weight: 600;
    margin-block: 30px;
    /* color:rgb(13, 69, 77); */
    /* font-family: 'Red Hat Display'; */
    background: url(image/banner-3.jpg);
    background-size: 40%;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0.08);
    animation: zoomout 10s ease 500ms forwards infinite;
}
@keyframes zoomout {
    from {
      background-size: 40%;
    }
    to {
      background-size: 10%;
    }
}

.services .service-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-block: 50px;
    
}
.services .service-content .card {
    width: calc(33% - 20px);
    text-align: center;
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
.services .service-content .card img {
    height: 60px;
}
.services .service-content .card h4 {
 
    font-size: 25px;
    font-weight: 600;
}
.services .service-content .card h5 {
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
}
.services .service-content .card .service-text {
    font-weight: 600;
    margin: 10px auto;
    color:rgb(13, 69, 77);
}
.services .service-content .card p {
    line-height: 1.5;
    text-align: center;
}
.services .service-content .card .box {
    transition: all 0.3s ease;
}
.services .service-content .card .box:hover {
    transform: scale(1.05);
}
.skills {
    display: flex;
    padding: 40px 70px;
    margin-block: 50px;

}
.skills .title {
    text-align: left;
    font-size: 42px;
    text-decoration:overline;
    font-weight: 600;
    /* color:rgb(13, 69, 77); */
    /* font-family: 'Red Hat Display'; */
    background: url(image/pexels-lukas-574073.jpg);
    background-size: 40%;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(253, 249, 249, 0.164);
    animation: zoomout 10s ease 500ms forwards infinite;

}
.skills .skills-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.skills .skills-content .left .skills-text {
    font-weight: 600;
    margin: 10px auto;
    color:white;
    font-size: 20px;
} 
.skills .skills-content .left p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
}
.skills .skills-content .column {
    width: calc(50% - 30px);
}
.skills .skills-content .right .bar {
    margin-bottom: 15px;
}
.skills .skills-content .right .skill-info {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;

}
.skills .skills-content .right span { 
    font-weight: 600;
    padding: 5px;

} 
.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: rgb(94, 233, 226);
    position: relative;

}
.skills .skills-content .right .line::before {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    background: #fc002a;
}
.skills .skills-content .right .html::before{
    width: 90%;
    animation: progress-animation-html 5s linear
}
@keyframes progress-animation-html {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}
.skills .skills-content .right .css::before{
    width: 90%;
    animation: progress-animation-css 5s linear
}
@keyframes progress-animation-css {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}
.skills .skills-content .right .js::before{
    width: 75%;
    animation: progress-animation-js 5s linear
}
@keyframes progress-animation-js {
    from {
        width: 0%;
    }
    to {
        width: 75%;
    }
}
.skills .skills-content .right .php::before{
    width: 60%;
    animation: progress-animation-php 5s linear
}
@keyframes progress-animation-php {
    from {
        width: 0%;
    }
    to {
        width: 60%;
    }
}
.skills .skills-content .right .mysql::before{
    width: 60%;
    animation: progress-animation-mysql 5s linear

}
@keyframes progress-animation-mysql {
    from {
        width: 0%;
    }
    to {
        width: 60%;
    }
}
.contact {
    display: flex;
    padding: 100px 70px;
    background-image: 
    linear-gradient(rgba(90, 230, 211, 0.8), rgba(133, 128, 128, 0.8)),
    url('image/banner-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}
.contact .title {
    text-align: center;
    font-size: 42px;
    text-decoration:overline;
    font-weight: 600;
    padding: 30px;
    /* color:rgb(13, 69, 77); */
    /* font-family: 'Red Hat Display'; */
    background: url(image/pexels-tima-miroshnichenko-5380591.jpg);
    background-size: 40%;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(253, 249, 249, 0.123);
    animation: zoomout 10s ease 500ms forwards infinite;
}
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color:#393E46;
}
.contact .contact-content .column {
    width: calc(50% - 30px);
}
.contact .contact-content .column .text {
    font-weight: 600;
    margin: 10px auto;
    color:#ffffff;
    font-size: 20px;
    line-height: 2;
}
.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info {
    margin-inline: 20px;
}
.contact .contact-content .left p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
}
.contact .contact-content .left img {
    height: 50px;
    width: 50px;
}
.contact .contact-content .info .head {
    color:#ffffff;
    font-weight: 600;
    padding-block: 5px;
}
.contact .contact-content .info .sub-title {
    font-weight: 600;
}

.contact .right form .form-fields{
  display: flex;
}
.contact .right form .form-fields,
.contact .right form .form-fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
}

.contact .right form .text-area {
    height: 80px;
    width: 100%;

}
.contact .right form .name {
    margin-right: 10px;
}
.contact .right form .email {
    margin-left: 10px;
}
.contact .right form .contactNo {
    margin-right: 10px;
}
.contact .right form .date {
    margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .text-area textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightslategray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
}
.contact .right form .field input:focus,
.contact .right form .text-area textarea:focus {
    border-color: #c23b0e;
}
.contact .right form .text-area {
    resize: none;
}
/* .contact .right form .button {
    height: 50px;
    width: 180px;
    margin-block-start: 10px;
} */
/* .contact .right form .button button {
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-color: #393E46;
    color: #fff;
    border-radius: 6px;
    transition: all 0.3s linear;
    padding-inline: 20px;
    outline: none;
} */
.contact .right form .button button:hover {
    background-color:  #F8A488;
    cursor: pointer;
}

footer {
    color: white;
    background: black;
    text-align: center;
    padding: 40px 25px;
    font-weight: 600;
}
footer span {
    color: rgb(2, 199, 230);
}
footer a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}
footer a:hover {
    color: rgb(136, 72, 72)
}
@media (max-width: 1920px) {
    .home .max-width{ 
        margin-left: 0;
    }
    .about {
        height: 700px;
    }
    .services .service-content .card {
        width: calc(33% - 20px);
        text-align: center;
        background: white;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        min-height: 500px;
    }
}
@media (min-width: 940px) and (max-width: 1140px) {
    .about {
        height: 700px;
    }
    .about .about-content {
        padding-inline: 20px;
    }
    .about .about-content .column-left {
        padding-right: 20px;
    }
    .about .about-content .column-right {
        padding-left: 20px;
    }
    .services .service-content .card {
        width: calc(33% - 20px);
        text-align: center;
        background: white;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        min-height: 500px;
    }
    .services .service-content .card h4 {
 
        font-size: 20px;
        font-weight: 600;
    }
}
@media (max-width:991px) {
    .max-width{
        padding: 0 20px;
        justify-content: center;
    }
    .nav-bar-menu {
        display: inline-block;
    }
}
@media (max-width:947px) {
    .home .home-content .fadeInUp1{
        font-size: 30px;
        line-height: 1;
    }
    .home .home-content .fadeInUp2{
        font-size: 24px;
        line-height: 1;
    }
    .home .home-content .ampersand{
        height: 25px;
        line-height: 1;
    }

    .home .home-content a {
        font-size: 16px;
        padding: 10px 30px;
    }
    .nav-bar .max-width .logo a {
        font-size: 20px;
    }
    .max-width {
        max-width: 930px;
    }
    .about .title, .service .title, .skills .title, .contact .title {
       text-align: center;
       font-size: 30px;
    }
    .about .about-content {
        height: 100%;
        width: 100%;
    }
    .about {
        height: 100%;
    }
    .about .about-content .column-left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
        width: 100%;
  
    }
    .about .about-content .column-right {
        flex: 100%;
        justify-content: center;
        margin: 0 auto 20px;
        width: 100%;
        flex-direction: column;
        height: 100%;
    }
    .about .about-content .column-right h2{
        text-align-last: center;
        text-decoration: none;
    }
    .services .service-content .card {
        width:calc(50% - 10px);
        margin-bottom: 35px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column,
    footer {
        width: 100%;
        margin-bottom: 10px;
    }
    .skills .skills-content .left .skills-button{
        justify-content: center;
        margin: 20px auto;
        display: table;
    }
    .nav-bar .nav-bar-menu {
        position: fixed;
        background: black;
        height: 80vh;
        width: 100%;
        left: -100%;
        top: 0;
        bottom: 20%;
        text-align: center;
        padding-top: 80px;
        opacity: 0.6;
        transition: all 0.5s ease-in-out;
    }
    .nav-bar-menu.active {
        left: 0%;
    }
    .nav-bar .nav-bar-menu li {
        display: block;
    }
    .nav-bar .nav-bar-menu li a{
        display: inline-block;
        margin: 20px;
    }
    .nav-bar .nav-button { 
        display: block; 
        z-index: 999;   
    } 
    .nav-bar .nav-button:hover {
        cursor: pointer;
    }
}
@media (max-width: 690px) {
    .max-width {
        padding: 0 25px;
    }
    
    .services .service-content .card {
        width: 100%;
        min-height: 300px;
    }

    .contact .right form .button {
        
        justify-content: center;
        margin: 20px auto;
        display: table;
    }
    .about .about-content img{
        height: 350px;
        width: 350px;
        
    }
    .about .about-content .column-right {
        padding: 20px; 
        justify-content: center;
    }
}

@media (max-width: 500px) {

    .contact .right form .form-fields{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .contact .right form .form-fields .email,
    .contact .right form .form-fields .date {
        margin: 0;
    }
    .home .home-content .fadeInUp2{
        font-size: 12px;
        line-height: 1;
    }
}
@media (max-width: 411px) {
    .max-width{
        justify-content: center;
        width: 400px;
    }
    .home .home-content .fadeInUp1{
        font-size: 25px;
        line-height: 1;
    }
    .home .home-content .fadeInUp2{
        font-size: 8px;
        line-height: 1;
    }
    .home .home-content .ampersand{
        height: 15px;
        width: 10px;
        margin-block-start: 20px;
    }
  
    .nav-bar-menu {
        display: inline-block;
    }

    .nav-bar .nav-bar-menu li a{
        display: inline-block;
      ;
    }
    .nav-bar .nav-button {
        padding-right: 10px;
    }
    .nav-bar .logo {
        padding-left: 10px;
    }
    
    .home {
        justify-content: center;
        align-content: center;
        width: 411px;
        padding: 20px;
    }
    .home-content {
        justify-content: center;
        align-items: center;
    }
    .about {
        width: 415px;
        justify-content: center;
    }

    .about .about-content img {
        height: 250px;
        width: 250px;
    }
    .about .about-content .column-right {
        flex: 100%;
        justify-content: center;
        margin: 0;
        width: 75%;
        flex-direction: column;
        height: 100%;
    }
    .services {
        width: 415px;
        justify-content: center;
        padding: 20px;
    }
    .services .title {
        font-size: 30px;
        line-height: 1;
    }
    .skills  {
        width: 415px;
        justify-content: center;
        padding: 20px;
    }
    .contact {
        width: 415px;
        justify-content: center;
        padding: 20px;
    }
    footer{
        width: 380px;
        justify-content: center;
        padding-inline: 20px;
    }
    .skills .skills-content .right .html::before{
        width: 90%;
        animation: progress-animation-html 5s linear
    }
    @keyframes progress-animation-html {
        from {
            width: 0%;
        }
        to {
            width: 90%;
        }
    }
    .skills .skills-content .right .css::before{
        width: 90%;
        animation: progress-animation-css 5s linear
    }
    @keyframes progress-animation-css {
        from {
            width: 0%;
        }
        to {
            width: 90%;
        }
    }
    .skills .skills-content .right .js::before{
        width: 75%;
        animation: progress-animation-js 5s linear
    }
    @keyframes progress-animation-js {
        from {
            width: 0%;
        }
        to {
            width: 75%;
        }
    }
    .skills .skills-content .right .php::before{
        width: 60%;
        animation: progress-animation-php 5s linear
    }
    @keyframes progress-animation-php {
        from {
            width: 0%;
        }
        to {
            width: 60%;
        }
    }
    .skills .skills-content .right .mysql::before{
        width: 60%;
        animation: progress-animation-mysql 5s linear
    
    }
    @keyframes progress-animation-mysql {
        from {
            width: 0%;
        }
        to {
            width: 60%;
        }
    }
}
@media (max-width:320px) {
    .max-width{
        justify-content: center;
        width: 320;
    }
    .home .home-content .fadeInUp1{
        font-size: 25px;
        line-height: 1;
    }
    .home .home-content .fadeInUp2{
        font-size: 8px;
        line-height: 1;
    }
    .home .home-content .ampersand{
        height: 15px;
        width: 10px;
        margin-block-start: 20px;
    }
  
    .nav-bar-menu {
        display: inline-block;
    }

    .nav-bar .nav-bar-menu li a{
        display: inline-block;
      ;
    }
    .nav-bar .nav-button {
        padding-right: 90px;
    }
    .nav-bar .logo {
        padding-left: 10px;
    }
    
    .home {
        justify-content: center;
        align-content: center;
        width: 320px;
        padding: 20px;
    }
    .home-content {
        justify-content: center;
        align-items: center;
    }
    .about {
        width: 320px;
        justify-content: center;
    }

    .about .about-content img {
        height: 250px;
        width: 250px;
    }
    .about .about-content .column-right {
        flex: 100%;
        justify-content: center;
        margin: 0;
        width: 75%;
        flex-direction: column;
        height: 100%;
    }
    .services {
        width: 320px;
        justify-content: center;
        padding: 20px;
    }
    .services .title {
        font-size: 30px;
        line-height: 1;
    }
    .skills  {
        width: 320px;
        justify-content: center;
        padding: 20px;
    }
    .contact {
        width: 320px;
        justify-content: center;
        padding: 20px;
    }
    footer{
        width: 320px;
        justify-content: center;
        padding-inline: 20px;
    }
    .skills .skills-content .right .html::before{
        width: 90%;
        animation: progress-animation-html 5s linear
    }
    @keyframes progress-animation-html {
        from {
            width: 0%;
        }
        to {
            width: 90%;
        }
    }
    .skills .skills-content .right .css::before{
        width: 90%;
        animation: progress-animation-css 5s linear
    }
    @keyframes progress-animation-css {
        from {
            width: 0%;
        }
        to {
            width: 90%;
        }
    }
    .skills .skills-content .right .js::before{
        width: 75%;
        animation: progress-animation-js 5s linear
    }
    @keyframes progress-animation-js {
        from {
            width: 0%;
        }
        to {
            width: 75%;
        }
    }
    .skills .skills-content .right .php::before{
        width: 60%;
        animation: progress-animation-php 5s linear
    }
    @keyframes progress-animation-php {
        from {
            width: 0%;
        }
        to {
            width: 60%;
        }
    }
    .skills .skills-content .right .mysql::before{
        width: 60%;
        animation: progress-animation-mysql 5s linear
    
    }
    @keyframes progress-animation-mysql {
        from {
            width: 0%;
        }
        to {
            width: 60%;
        }
    }
}